numpy==2.4.2
pandas==3.0.0
openai==2.21.0
huggingface_hub==0.36.2
python-dotenv==1.2.1
langchain==1.2.10
langchain-core==1.2.13
langchain-experimental==0.4.1
langchain-openai==1.1.9
langchain-huggingface==1.2.0
langgraph==1.0.8
langchain-mcp-adapters==0.2.1
mcp==1.26.0
Anthropic